$color-primary: #61dafb; 
$color-secondary: #4bcc69;

$color-white: #fff;
$color-black: #08070B;

$bp-smallest: 30em; // 480px
$bp-small: 35em; // 560px
$bp-medium: 50em; // 800px
$bp-large: 75em; // 1200px
